@model IEnumerable<CH6_4_Boostrap.Models.Employee>

@{
    ViewData["Title"] = "Index";
}
<style type="text/css">
    th{
        color: white;
        background-color: black;
        text-align: center;
    }
    .table > tbody > tr:hover {
        background-color: antiquewhite;
    }
</style>
<h1>Index</h1>

<div class="jumbotron bg-success p-3">
    <h2>員工基本資料</h2>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                <i class="fa fa-bars"></i>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                <i class="fa fa-users"></i>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                <i class="fa fa-mobile"></i>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                <i class="fa fa-envelope-square"></i>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                <i class="fa fa-home"></i>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                <i class="fa fa-address-book"></i>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">編輯</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">明細</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-warning">新增員工資料</a>
</p>